:root {
  --foreground: #eeeeee;
  --background: #0b0c0d;
  --primary: #00ffff;
  --secondary: #1b1d1f;
  --gradient: linear-gradient(45deg, rgb(255, 0, 0, 0.5), rgb(0, 0, 255, 0.5));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body,
h1,
h2,
h3,
p,
ul,
ol,
li,
iframe {
  margin: 0;
}

body {
  display: grid;
  min-height: 100vh;
  place-items: center;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

a {
  color: var(--primary);
}

main {
  display: grid;
  width: min(100% - 2rem, 70rem);
  margin-inline: auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "video"
    "content";
  gap: 2rem;
  /* border: 1px solid red; */

  @media (width > 1000px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header header"
      "video content";
    align-items: center;
  }
}

.header {
  grid-area: header;
  text-align: center;
}

.content {
  grid-area: content;
  display: grid;
  gap: 1rem;
  align-content: start;
}

.video {
  grid-area: video;
}

.video__frame {
  position: relative;
  border-radius: 1rem;
  width: fit-content;
  isolation: isolate;
  line-height: 0;
  margin-inline: auto;

  & iframe {
    border: 0;
    border-radius: 1rem;

    @media (width < 650px) {
      width: 100%;
      aspect-ratio: 16 / 9;
    }
  }

  &::before {
    content: "";
    position: absolute;
    inset: -0.1rem;
    border-radius: 1rem;
    background: var(--gradient);
    z-index: -1;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-left: 0;
}

.card {
  list-style: none;
  background-color: var(--background);
  /* border: 1px solid var(--primary); */
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  position: relative;
  isolation: isolate;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0.5rem;
    background: var(--background);
    z-index: -1;
  }

  &::before {
    content: "";
    position: absolute;
    inset: -0.1rem;
    border-radius: 0.5rem;
    background: var(--gradient);
    z-index: -2;
  }
}

.card__number {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary);
}
